* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.content {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.logo-image {
  width: 260px;
  height: 80px;
  background: url("../images/v1_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 226px;
  overflow: hidden;
}
.logo {
  width: 73px;
  height: 80px;
  background: url("../images/v1_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.TNGOV {
  width: 172px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 4px;
  left: 88px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.welcome {
  width: 414px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 226px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.text1 {
  width: 324px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 346px;
  left: 226px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.Email {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 411px;
  left: 226px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.Password {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 520px;
  left: 226px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.forgot-password {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 629px;
  left: 481px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.input-box {
  width: 414px;
  height: 41px;
  background: rgba(0,0,0,0.09000000357627869);
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 226px;
  border-radius: 5px;
  overflow: hidden;
}
.input-box2 {
  width: 414px;
  height: 41px;
  background: rgba(0,0,0,0.09000000357627869);
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 226px;
  border-radius: 0px;
  overflow: hidden;
}
.login-box {
  width: 132px;
  height: 41px;
  background: rgba(3,87,3,1);
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 226px;
  border-radius: 5px;
  overflow: hidden;
}
.login {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 37px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: right;
}
.image {
  width: 490px;
  height: 390px;
  background: url("../images/v1_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 1074px;
  overflow: hidden;
}
.having-issues {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 876px;
  left: 896px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
